/*DEBUGGING*/

*{
/*	border-style: solid;
	border-color: red;
	border-width: 1px;*/
}

/*LAYOUT*/

body {
	background-color: #5E57EE;
	margin: 0;
}

html, body {
    height: 100%;
}

/*FLEX CONTAINER FOR .CENTER*/
.container {
	height: 100%;
    padding: 0;
    margin: 0;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

/*FLEX CONTAINER FOR .LOGO, .SVG, .BUTTON AND .DISCLAIMER*/
.center {
	
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;

	flex-direction: row;

	text-align: center;
	background-color: #5E57EE;
}

.logo {
	font-size: 10vh;
	text-align: center;
	color: white;
	padding-bottom: 5%;
}

/*.button {
	max-width: 200px;
}*/

svg {
	max-height: 200px;
	max-width: 200px;
}

.disclaimer {
	font-family: Oswald;
}

/*STYLING*/

.latenight {
	font-family: 'Bangers', cursive;
}

.snack {
	font-family: 'Bangers', cursive;
	font-weight: 500;
}

form.button {
	width: 100%;
	display: flex;
	justify-content: center;
	padding-top: 5%;
}

input {
	max-width: 200px;
}

/*.button {
	padding-top: 5%;
	font-family: Oswald;
	text-align: center;
	min-width: 200px;
}*/

