doctype html
html
	head
		title Late Night Snack

	body
		h3 Find your late night snack here
		form(action='/', method='POST' id='snacksearch')
			input(type="range" id="slider" name="points" min="0" max="10")
		h3=number
		p #{now}