doctype html
html
	head
		title Late Night Snack
	body
		h3 Find your Midnight Snack
		h3 It's #{now}
		form(action='/search', method='POST' id='snacksearch')
			| Let's go!
			br
			br
			input(type='submit', value='FIND FOOD')
		h3 Grab your snack here:
			each hit in allresults
				h4=hit.name