doctype html
html
	head
		title Late Night Snack
		style.
			/* Always set the map height explicitly to define the size of the div
			* element that contains the map. */
			#map {
			height: 100%;
			}
			/* Optional: Makes the sample page fill the window. */
			html, body {
			height: 100%;
			margin: 0;
			padding: 0;
			}
	body
		h3 Find your Midnight Snack
		br
		#map
		script.
			function initMap() {

				function escapeHtml(text) {
				  return text
					  .replace(/&amp;/g, "&")
					  .replace(/&lt;/g, "<")
					  .replace(/&gt;/g, ">")
					  .replace(/&quot;/g, '"')
					  .replace(/&#039;/g, "'");
				}

				function replaceLinkQuotes(text) { //replaces <a href="bla"> to <a href='bla'>
					return text
						.replace(/<a href="/g, "<a href='")
						.replace(/">/g, "'>");
				}

				var results = "#{JSON.stringify(allresults)}";
				results = escapeHtml(results);
				results = replaceLinkQuotes(results);
				results = JSON.parse(results);

				var centerlat = 52.370216;
				var centerlng = 4.895168;				
				var centerlocation = {lat: centerlat, lng: centerlng};

				var map = new google.maps.Map(document.getElementById('map'), {
						zoom: 15,
						center: centerlocation
				});

				for(var i=0; i<results.length; i++){

					var resultlat = results[i].geometry.location.lat;
					var resultlng = results[i].geometry.location.lng;
					var resultlocation = {lat: resultlat, lng: resultlng};
					var resultname = results[i].name;
					console.log('TEST: '+resultname)

					//Setting a new marker
					var marker = new google.maps.Marker({
						position: resultlocation,
						map: map
					});
					//Creating info windows
					var infowindow = new google.maps.InfoWindow();

					google.maps.event.addListener(marker, 'click', function() {
					infowindow.setContent(resultname);
					infowindow.open(map, this);
					});
				}
			}
		script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyAK_he47G4ZHGYXhg_qSvi2ObQuAqHWIr4&callback=initMap', async='', defer='')
