doctype html
html
	head
		title Late Night Snack
		script(src='../config.js')
	body
		style.
			#map {
			position: absolute;
			top: 0;
			left: 0;
			width: 100% !important;
			height: 100% !important;
			}
			html, body {
			height: 100%;
			margin: 0;
			padding: 0;
			}
	body
		.container
		#map_container
		#map
		script.
				function initMap() {

					//CREATING MAP
					var centerlat = 52.370216;
					var centerlng = 4.895168;               
					var centerlocation = {lat: centerlat, lng: centerlng};

					var map = new google.maps.Map(document.getElementById('map'), {
					center: centerlocation,
					zoom: 15,
					styles:[
					{elementType: 'geometry', stylers: [{color: '#242f3e'}]},
					{elementType: 'labels.text.stroke', stylers: [{color: '#242f3e'}]},
					{elementType: 'labels.text.fill', stylers: [{color: '#746855'}]},
					{
					featureType: 'administrative.locality',
					elementType: 'labels.text.fill',
					stylers: [{color: '#61b395'}]
					},
					{
					featureType: 'poi',
					elementType: 'labels.text.fill',
					stylers: [{color: '#61b395'}]
					},
					{
					featureType: 'poi.park',
					elementType: 'geometry',
					stylers: [{color: '#263c3f'}]
					},
					{
					featureType: 'poi.park',
					elementType: 'labels.text.fill',
					stylers: [{color: '#6b9a76'}]
					},
					{
					featureType: 'road',
					elementType: 'geometry',
					stylers: [{color: '#38414e'}]
					},
					{
					featureType: 'road',
					elementType: 'geometry.stroke',
					stylers: [{color: '#212a37'}]
					},
					{
					featureType: 'road',
					elementType: 'labels.text.fill',
					stylers: [{color: '#9ca5b3'}]
					},
					{
					featureType: 'road.highway',
					elementType: 'geometry',
					stylers: [{color: '#746855'}]
					},
					{
					featureType: 'road.highway',
					elementType: 'geometry.stroke',
					stylers: [{color: '#1f2835'}]
					},
					{
					featureType: 'road.highway',
					elementType: 'labels.text.fill',
					stylers: [{color: '#f3d19c'}]
					},
					{
					featureType: 'transit',
					elementType: 'geometry',
					stylers: [{color: '#2f3948'}]
					},
					{
					featureType: 'transit.station',
					elementType: 'labels.text.fill',
					stylers: [{color: '#61b395'}]
					},
					{
					featureType: 'water',
					elementType: 'geometry',
					stylers: [{color: '#17263c'}]
					},
					{
					featureType: 'water',
					elementType: 'labels.text.fill',
					stylers: [{color: '#515c6d'}]
					},
					{
					featureType: 'water',
					elementType: 'labels.text.stroke',
					stylers: [{color: '#17263c'}]
					}
					]
				});

					//CLEANING OUT RESULTS FORMAT TO BE USED FOR SETTING MARKERS & DETAIL REQUEST
					function escapeHtml(text) {
						return text
						.replace(/&amp;/g, "&")
						.replace(/&lt;/g, "<")
						.replace(/&gt;/g, ">")
						.replace(/&quot;/g, '"')
						.replace(/&#039;/g, "'");
						}

					function replaceLinkQuotes(text) { //replaces <a href="bla"> to <a href='bla'>
						return text
							.replace(/<a href="/g, "<a href='")
							.replace(/">/g, "'>");
					}

					var results = "#{JSON.stringify(allresults)}";
					results = escapeHtml(results);
					results = replaceLinkQuotes(results);
					results = JSON.parse(results);
					console.log('Results frontend: '+results);

					//CREATING MARKERS
					function createMarker () {
						for (var i=0; i<results.length; i++){

							var resultlat = results[i].geometry.location.lat;
							var resultlng = results[i].geometry.location.lng;
							var resultlocation = {lat: resultlat, lng: resultlng};
							var resultid = results[i].place_id;

							var marker = new google.maps.Marker({
								map: map,
								position: resultlocation,
								id: resultid
							});

							//CREATING INFO WINDOW & INITIALISING DETAIL SEARCH
							var infowindow = new google.maps.InfoWindow();
							var service = new google.maps.places.PlacesService(map);

							marker.addListener('click', function() {
								console.log('CLICK! This is my Places_ID: '+this.id);
								service.getDetails({
								placeId: this.id
								}, function (place, status){
									
									console.log('This is my place name: '+place.name);

									
										infowindow.setContent('<div><strong>' + place.name + '</strong><br>' +
										place.address_components[1].long_name + ' ' + place.address_components[0].long_name + '<br>' + place.address_components[4].long_name + ' ' + place.address_components[7].long_name + '</div>' + '<br>' + place.opening_hours.weekday_text[0] + '<br>' + place.opening_hours.weekday_text[1] + '<br>' + place.opening_hours.weekday_text[2] + '<br>' + place.opening_hours.weekday_text[3] + '<br>' + place.opening_hours.weekday_text[4] + '<br>' + place.opening_hours.weekday_text[5] + '<br>' + place.opening_hours.weekday_text[6])
										
										console.log(place.address_components[2].long_name);
										console.log(place.formatted_address)
															
								})
							infowindow.open(map, this);
							})
						}
					}
					createMarker();
				}


	script(async='', defer='', src='https://maps.googleapis.com/maps/api/js?'+mapsjsapikey+'&libraries=places&callback=initMap')
