doctype html
html
	head
		title Late Night Snack
		style.
			/* Always set the map height explicitly to define the size of the div
			* element that contains the map. */
			#map {
			height: 100%;
			}
			/* Optional: Makes the sample page fill the window. */
			html, body {
			height: 100%;
			margin: 0;
			padding: 0;
			}
	body
		h3 Find your Midnight Snack
		h3 It's #{now}
		form(action='/search', method='POST' id='snacksearch')
			input(type='submit', value='FIND FOOD')
		br
		#map
		script.
			function initMap() {

			var lat = 52.370216;
			var lng = 4.895168;
			
			var uluru = {lat: lat, lng: lng};

				var map = new google.maps.Map(document.getElementById('map'), {
					zoom: 15,
					center: uluru
				});

				var marker = new google.maps.Marker({
					position: uluru,
					map: map
				});

			}
		script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyAK_he47G4ZHGYXhg_qSvi2ObQuAqHWIr4&callback=initMap', async='', defer='')
