doctype html
html
	head
		title Late Night Snack
	body
		h3 Find your Midnight Snack
		h3 It's #{now}
		form(action='/search', method='POST' id='snacksearch')
			input(type='submit', value='FIND FOOD')